PORT=3003

#https://dashboard.stripe.com/test/apikeys
STRIPE_SECRET=

STRIPE_SUCCESS_URL=http://localhost:3003/payments/success
STRIPE_CANCEL_URL=http://localhost:3003/payments/

# https://dashboard.stripe.com/test/workbench/webhooks/we_1RttdfPwvnBtYCICN6rA8YkG
# Este es el signing secret del webhook
STRIPE_ENDPOINT_SECRET=

# multi
# NATS_SERVERS="nats://localhost:4222,nats://localhost:4223"
NATS_SERVERS="nats://localhost:4222"